.parceiros {
    padding-top: 60px;
    padding-bottom: 120px;
}

.parceiros h2 {
    margin-bottom: 60px;
}

.parceiros ul {
    padding: 0 20px;
    max-width: 1400px;
    box-sizing: border-box;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.parceiros li {
    display: flex;
    padding: 32px;
    border-left: 2px solid var(--c2);
}

.parceiros li:first-child,
.parceiros li:nth-child(5) {
    border-left: none;
}

/* mlk que doideira é essa */
/* o N vai ser um ponteiro que vai de 0 até a quantidade de filhos do elemento li */
/* quando a soma for 0 ou >= ao maximo de filhos, o estilo deixa de ser aplicado */
.parceiros li:nth-child(-n + 4){
    border-bottom: 2px solid var(--c2);
}

.parceiros img {
    margin: auto;
}

@media (max-width: 800px) {
    .parceiros {
        padding-bottom: 60px;
    }

    .parceiros h2 {
        margin-bottom: 20px;
    }

    .parceiros ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .parceiros li {
        padding: 16px;
    }

    .parceiros li:nth-child(-n + 6){
        border-bottom: 2px solid var(--c2);
    }

    .parceiros li:nth-child(odd) {
        border-left: none;
    }    
}